.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include for-normal-layout {
    align-items: flex-start;
  }
  @include for-smallscreen-layout {
    align-items: center;
  }
  @include for-tablet-layout {
    height: 100%;
    align-items: center;
  }
  @include for-mobile-layout {
    align-items: flex-start;
    margin-left: 10px;
  }

  .mac {
    position: relative;

    @include for-mobile-layout {
      margin-left: 87px;
    }
    img {
      @include for-normal-layout {
        width: 340px;
        height: 100%;
      }
      @include for-tablet-layout {
        width: 282px;
        height: 100%;
      }
    }
    .macbook {
      position: absolute;
      top: 143px;
      right: 211px;

      @include for-normal-layout {
        width: 300px;
        right: 132px;
        top: 96px;
      }

      @include for-tablet-layout {
        right: 59px;
        top: 81px;
      }
      img {
        @include for-normal-layout {
          width: 300px;
          height: 100%;
          right: 300px;
          top: 96px;
        }
      }
      img {
        @include for-tablet-layout {
          width: 244px;
          height: 100%;
          right: 162px;
          top: 143px;
        }
      }
    }
  }
}
