.hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  align-items: flex-start;
  margin-left: 10px;

  .mac {
    position: relative;
    margin-left: 87px;

    img {
      width: 282px;
      height: 100%;
    }
    .macbook {
      position: absolute;
      right: 59px;
      top: 81px;

      img {
        width: 244px;
        height: 100%;
        right: 162px;
        top: 143px;
      }
    }
  }
}
.blob1 {
  position: absolute;
  z-index: -5;
}
