.price-container::before {
  background-color: #ff6465;
  content: '';
  position: absolute;
  top: -20px;
  left: -18px;
  width: 25%;
  height: 20%;
  z-index: 1;
}

.price-container {
  width: 336px;
  height: 133px;
  border: 2px solid #bdaedc;
  background-color: $bgrclr;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 17px 17px;
  position: relative;

  .regular::before {
    background-color: #ff6465;
    content: '';
    position: absolute;
    top: 10px;
    left: -57px;
    width: 25%;
    height: 50%;
    z-index: 1;
    transform: rotate(90deg);
  }

  .regular {
    color: $clr-blacktext;
    font-size: rem(23px);
    font-weight: 500;
    position: relative;

    & > span {
      text-decoration: line-through;
      color: $clr-redish;
    }
  }

  .special::before {
    background-color: #ffc444;
    content: '';
    position: absolute;
    top: 94px;
    left: 299px;
    width: 25%;
    height: 20%;
    z-index: 1;
    transform: rotate(90deg);
  }

  .special {
    font-size: rem(27px);
    font-weight: 800;

    & > .year {
      font-size: rem(23px);
      font-weight: 600;
    }
  }

  .remark::before {
    background-color: #ffc444;
    content: '';
    position: absolute;
    top: 123px;
    left: 269px;
    width: 25%;
    height: 20%;
    z-index: 1;
  }

  .remark {
    font-size: rem(16px);
  }
}
